*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white:white;
  --blue:#0080ff;
  --navy:#111B3C;
  --orange:#ff7f00;
  }

body {
    background-color: var(--blue);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: var(--white);
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}  

h1 {    
    font-size: 2.3rem;
    margin: 20px 0;
}

fieldset {
    display: block;
    padding: 50px;
    width: 100%;
    background-color: var(--orange);
    border: white solid 5px;
  }

label{
    font-size: larger;
    font-weight: bold;
    color: #111B3C;
}  

input, button, .output{
    height: 50px;
    width: 100%;
    margin-top: 25px;
    font-size: large; 
    font-weight: bold;
}

input {
  border: #111B3C solid 3px;
}

button {
  background-color:var(--navy);
  color: var(--white);
  border: var(--white) solid 3px;
}

.output {
  height: 100px;
  background-color: #111B3C;
  padding : 25px;
  border: var(--white) solid 3px;
}
